<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <mat-card-header>
    <mat-form-field>
      <input matInput
             formControlName="taskName"
             placeholder="Task Name"/>
    </mat-form-field>
    <!--TODO: display: table???-->

  </mat-card-header>

  <mat-card-content>
    <div class="yk-g-12 yk-md-4">
      <owl-form-field>
        <input owlInput
               formControlName="date"
               [owlDateTime]="dt1"
               [selectMode]="'range'"
               [owlDateTimeTrigger]="dt1"
               placeholder="Date Time">
        <span owlSuffix><owl-date-time #dt1></owl-date-time></span>
      </owl-form-field>
    </div>
    <mat-form-field style="width: 100%">
      <textarea matInput
                formControlName="description"
                placeholder="Description">
      </textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button
            type="submit"
            color="primary">
      Save
    </button>
    <button mat-flat-button (click)="task.opened = !task.opened">Cancel</button>
  </mat-card-actions>
</form>
