<div *ngIf="tasks$ | async; else loader">
  <div class="col-md-4" >
    <h3 class="h3-title">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <mat-card
            style="margin-bottom: 20px;">
    <mwl-calendar-day-view
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="eventClicked($event)">
    </mwl-calendar-day-view>
  </mat-card>
</div>

<!--LOADER-->
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
