<div class="row text-center">
  <div class="col-md-4">
    <div class="next-tabs-button btn-group">
      <button class="next-button"
              mat-raised-button
              color="primary"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false">
        Previous
      </button>
      <button class="next-button"
              mat-raised-button
              color="primary"
              mwlCalendarToday
              [(viewDate)]="viewDate">
        Today
      </button>
      <button class="next-button"
              mat-raised-button
              color="primary"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false">
        Next
      </button>
    </div>
  </div>
  <div class="col-md-4">
    <h3 class="h3-title">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="next-tabs-button btn-group">
      <button class="next-button"
              mat-raised-button
              color="primary"
              (click)="view = CalendarView.Month"
              [class.active]="view === CalendarView.Month">
        Month
      </button>
      <button class="next-button"
              mat-raised-button
              color="primary"
              (click)="view = CalendarView.Week"
              [class.active]="view === CalendarView.Week">
        Week
      </button>
      <button class="next-button"
              mat-raised-button
              color="primary"
              (click)="view = CalendarView.Day"
              [class.active]="view === CalendarView.Day">
        Day
      </button>
    </div>
  </div>
</div>
<br>
<div *ngIf="tasks$ | async; else loader"
          [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="eventClicked($event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="eventClicked($event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="eventClicked($event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
