<mat-toolbar class="example-header">
  <button mat-icon-button
          *ngIf="screenWidth <= 992"
          (click)="sidenav.toggle()">
    <i class="material-icons">menu</i>
  </button>

  <p class="mat-display-1 next-main-title">What's Next?</p>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav
               [opened]="screenWidth > 992"
               [mode]="screenWidth <= 992 ? 'over' : 'side'"
               class="example-sidenav"
               [fixedInViewport]="true"
               [fixedTopGap]="57">

    <button mat-button
            [routerLink]="link.url"
            *ngFor="let link of links"
            [routerLinkActive]="'active'"
            (click)="closeBar()"
            class="example-button">{{link.name}}
    </button>

    <button mat-button
            class="example-button-last"
            (click)="logout($event)">Logout
    </button>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
