.example-container {
  position: fixed;
  top: 57px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.example-button {
  width: 100%;
  height: 7%;
}

.example-button-last {
  width: 100%;
  height: 7%;
  top: 72%;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  /*background: rgba(255, 0, 0, 0.5);*/
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
