.auth-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  //
  //&__input {
  //  -webkit-box-shadow: inset 0 0 0 50px #fff;
  //  -webkit-text-fill-color: #000;
  //}
}
