<div class="mat-display-1 page-title">
  <h4>{{tasksType}} Tasks</h4>
</div>

<div class="col-md-4">
  <div class="next-tabs-button btn-group">
    <button class="next-button"
            mat-raised-button
            color="primary"
            (click)="tasksType='All'">
      All
    </button>
    <button class="next-button"
            mat-raised-button
            color="primary"
            (click)="tasksType='Completed'">
      Completed
    </button>
  </div>
</div>

<button mat-raised-button
        (click)="createNewTask()"
        class="next-create-button"
        color="primary">Create
</button>

<mat-card class="card__task"
          *ngIf="createNewTaskTamplate">

  <form
    [formGroup]="form"
    (ngSubmit)="onCreateNewTask()">
    <mat-card-header>
      <mat-form-field>
        <input matInput
               formControlName="name"
               placeholder="Task Name"/>
      </mat-form-field>
    </mat-card-header>

    <mat-card-content>

      <div class="yk-g-12 yk-md-4">
        <owl-form-field>
          <input owlInput
                 formControlName="date"
                 [owlDateTime]="dt1"
                 [selectMode]="'range'"
                 [owlDateTimeTrigger]="dt1"
                 placeholder="Date Time">
          <span owlSuffix><owl-date-time #dt1></owl-date-time></span>
        </owl-form-field>
      </div>

      <mat-form-field style="width: 100%">
      <textarea matInput
                formControlName="description"
                placeholder="Description">
      </textarea>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button
              type="submit"
              color="primary"
              [disabled]="form.invalid || form.disabled">
        Create
      </button>
      <button mat-flat-button (click)="createNewTaskTamplate = false">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>

<div *ngIf="tasks$ | async as tasks; else loader">
  <div
    *ngIf="tasks.length !== 0; else empty"
    [ngSwitch]="tasksType">
    <div *ngSwitchCase="'All'">
      <mat-card class="card__task"
                *ngFor="let task of filterTasks(tasks)">
        <mat-checkbox [checked]="task.complete"
                      (change)="checkedTask(task)">
        </mat-checkbox>
        <mat-card-header *ngIf="!task.opened" class="next-task-card-header">
          <mat-card-title (click)="task.opened = !task.opened">
            №{{task.order}} - {{task.name}}
          </mat-card-title>

          <button mat-icon-button
                  (click)="deleteTask(task)">
            <i class="material-icons">delete</i>
          </button>

        </mat-card-header>

        <app-add-task-page *ngIf="task.opened"
                           style="width: 100%"
                           [task]="task">
        </app-add-task-page>
      </mat-card>
    </div>

    <div *ngSwitchCase="'Completed'">
      <mat-card class="card__task"
                *ngFor="let task of completedTasks(tasks)">
        <mat-checkbox [checked]="task.complete"
                      (change)="uncheckedTask(task)">
        </mat-checkbox>
        <mat-card-header *ngIf="!task.opened" class="next-task-card-header">
          <mat-card-title (click)="task.opened = !task.opened">
            №{{task.order}} - {{task.name}}
          </mat-card-title>

          <button mat-icon-button
                  (click)="deleteTask(task)">
            <i class="material-icons">delete</i>
          </button>

        </mat-card-header>

        <app-add-task-page *ngIf="task.opened"
                           style="width: 100%"
                           [task]="task">
        </app-add-task-page>
      </mat-card>
    </div>
  </div>
</div>

<!--LOADER-->
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<!--EMPTY-->
<ng-template #empty>
  <div>
    You do not have any tasks yet
  </div>
</ng-template>
