nav .brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.a-sidenav {
  width: 250px !important;
  padding-top: 64px;
}

.nav-wrapper {
  z-index: 1000;
}

.a-sidenav .bold.last {
  position: absolute;
  bottom: 62px;
  width: 100%
}
