.task {
  display: flex;
  padding: 2px 10px;
  align-self: center;
}

.card__task {
  display: flex !important;
  align-items: end !important;
  margin: 15px;
}

.task__date {
  margin-left: auto;
}

.collection-item {
  display: flex;
  flex-direction: row;
}

.card-body {
  display: inline-flex;
}

.page-title {
  margin: 0 0 0 20px;
}

.form-group {
  display: inline-block;
}

.next-task-card-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.h3-title {
  padding-left: 20px;
  font: 400 20px/10px Roboto, "Helvetica Neue", sans-serif;
}

.next-font {
  font: 400 15px/10px Roboto, "Helvetica Neue", sans-serif;
}

.next-button {
  margin: 8px 5px !important;
}
