<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <mat-card-title>
    Login
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input
        formControlName="email"
        matInput
        placeholder="Email"
        type="email">
      <mat-error *ngIf="form.get('email').invalid && form.get('email').touched && form.get('email').errors['required']">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.get('email').invalid && form.get('email').touched && form.get('email').errors['email']">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input
        formControlName="password"
        matInput
        placeholder="Password"
        type="password">
      <mat-error
        *ngIf="form.get('password').invalid
        && form.get('password').touched
        && form.get('password').errors['required']">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error
        *ngIf="form.get('password').invalid
        && form.get('password').touched
        && form.get('password').errors['minlength']
        && form.get('password').errors['minlength']['requiredLength']">
        Password must be at least {{form.get('password').errors['minlength']['requiredLength']}} characters long.
        Now {{form.get('password').errors['minlength']['actualLength']}}.
      </mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-flat-button
      type="submit"
      color="primary"
      [disabled]="form.invalid || form.disabled">
      Log In
    </button>
    <button mat-flat-button routerLink="/registration">Registration</button>
  </mat-card-actions>
</form>
